@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 244 28% 10%;
    --foreground: 200 29% 67%;
    --muted: 244 12% 15%;
    --muted-foreground: 244 12% 65%;
    --popover: 244 28% 7%;
    --popover-foreground: 200 29% 77%;
    --card: 244 28% 8%;
    --card-foreground: 200 29% 72%;
    --border: 244 18% 15%;
    --input: 244 18% 18%;
    --primary: 336 91% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 336 30% 75%;
    --secondary-foreground: 336 30% 15%;
    --accent: 244 28% 25%;
    --accent-foreground: 244 28% 85%;
    --destructive: 1 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 336 91% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 244 28% 10%;
    --foreground: 200 29% 67%;
    --muted: 244 12% 15%;
    --muted-foreground: 244 12% 65%;
    --popover: 244 28% 7%;
    --popover-foreground: 200 29% 77%;
    --card: 244 28% 8%;
    --card-foreground: 200 29% 72%;
    --border: 244 18% 15%;
    --input: 244 18% 18%;
    --primary: 336 91% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 336 30% 75%;
    --secondary-foreground: 336 30% 15%;
    --accent: 244 28% 25%;
    --accent-foreground: 244 28% 85%;
    --destructive: 1 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 336 91% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}